* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

main {
  background-color: lightsalmon;
}

.title {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 3px solid gray;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.cardset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  width: 80%;
  margin: 20px;
  border: 3px dotted #252629;
  padding: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: lightcyan;
}

.card:hover {
  border-style: solid;
}

.card__heading {
  margin: 0 0 30px 0;
  text-align: center;
}

.bookmark-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: 10px;
}

.card__answer {
  width: 120px;
  font-weight: bold;
  border: 1px solid darkred;
  background-color: lavenderblush;
  box-shadow: 3px 3px 5px rgb(152, 14, 14);
}

.card__answer:hover {
  background-color: #ff4a11;
  color: white;
}

.card__category-set {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 40px 5px 15px 5px;
  list-style: none;
}

/* .card__category responsive machen */

.card__category {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #558abb;
  margin: 5px;
  text-decoration: none;
}

.card__category:link {
  text-decoration: none;
  color: black;
}

.card__category:visited {
  text-decoration: none;
  color: purple;
}

.card__category:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

.card__category:active {
  background-color: lightsalmon;
  text-decoration: none;
  color: white;
}

.footer {
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 3px solid gray;
  text-align: center;
  background-color: lightgoldenrodyellow;
  position: fixed;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar img {
  width: 60px;
  height: auto;
  padding: 5px;
}

.navbar img:hover {
  background-color: #ff4a11;
  border-radius: 20px;
}

.navbar img:active {
  background-color: #558abb;
}
